* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
}

.nav-bar {
    height: 70px;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
   justify-content: center;
   

}
.logo-texto {
    color: white;
}
.logo {
    color: white;
}

main {
    display: flex;
}
.container-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    

}
.title {
    display: flex;
   flex-direction: column;
   padding: 80px;
}

.main-menu {
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    flex-direction: row;
}